
.header-container strong {
    text-size-adjust: bold;
    color: orange;
}

.header-container {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color : whitesmoke;
}

.logo {
    background-color: black;
    background-size: cover;

}

#celta {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: orange;
}

#hero-image {
    width: 100%;
    height: auto;
}

.btn {
    color: white;
    background-color: orange;
}

h3 {
    color: orange;
	text-transform: uppercase;
	font-weight: 100;   
}


